.wysiwyg-color-silver{
color: #c0c0c0!important;    
}
.wysiwyg-color-gray{
color: #808080!important;
}
.wysiwyg-color-white{
color: #FFFFFF!important;    
}
.wysiwyg-color-maroon{
color: #800000!important;  
}
.wysiwyg-color-red{
color: #ff0000!important;   
}
.wysiwyg-color-purple{
color: #800080!important;    
}
.wysiwyg-color-green{
color: #008000!important;    
}
.wysiwyg-color-olive{
color: #808000!important;    
}
.wysiwyg-color-navy{
color: #000080!important;    
}
.wysiwyg-color-blue{
color: #0000ff!important;    
}
.wysiwyg-color-orange {
color: #ffa500!important;    
}